<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.dao.FoodMapper">
    <resultMap type="Food" id="FoodResult">
        <result property="foodId"    column="food_id"    />
        <result property="foodName"    column="food_name"    />
    </resultMap>
    <update id="updateEvaluation">
        update food f set score=(select ifnull(avg(score),0) from evaluation where food_id=f.food_id ),quantity=(select ifnull(count(*),0) from evaluation where food_id=f.food_id )

-- ifnull(参1，参2) 如果参1为null,则结果为参2
    </update>

    <select id="shoucangList" parameterType="Integer" resultMap="FoodResult">
        SELECT food_id,food_name from food  where food_id in(SELECT food_id FROM member_read_state  where member_id = #{memberId} and read_state = 2)
    </select>
</mapper>
